APP_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/fastapi_task_manager_db
APP_REDIS_URL=redis://redis:6379/0

APP_ORIGINS=["*"]
APP_ALLOWED_HOSTS=["*"]

APP_RATE_LIMIT_ENABLED=True

APP_JWT_SECRET=change_me
APP_ISSUER=taskmanager-api
APP_AUDIENCE=taskmanager-client
APP_JWT_ALG=HS256
APP_ACCESS_TTL=30
