APP_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/sobes_db
APP_REDIS_URL=redis://127.0.0.1:6379/0

APP_ORIGINS=["*"]
APP_ALLOWED_HOSTS=["*"]

APP_JWT_SECRET=change_me
APP_ISSUER=taskmanager-api
APP_AUDIENCE=taskmanager-client
APP_JWT_ALG=HS256
APP_ACCESS_TTL=30
